{{#each this}}
<li class="list-films__item">
  <div class="foto-box">
    <img src="{{}}" alt="{{}}" class="foto-img" />
  </div>
  <p class="list-films__item-text">{{}}</p>
  <div class="raiting-box">
    <ul class="list-films__item-ganre-list">
      {{#each genre_ids}}
      <li class="list-films__item-ganre-list-item"><span>{{this}}</span></li>>
      {{/each}}
    </ul>
    <p class="list-films__item-jear"><span class="list-films__item-jear-span">|</span>{{}}</p>
    <p class="list-films__item-rating">{{}}</p>
  </div>
</li>
{{/each}}